language: bash

sudo: required

services:
  - docker

script:
  - docker run --rm -v $(pwd):/root/sources -w /root/sources maven:3.3.9-jdk-8 mvn -Prun-its clean install

after_failure:
  - find target/it -name *.log -exec echo {} \; -exec cat {} \;

branches:
    except:
        - gh-pages

notifications:
  email:
    - matthieu@brouillard.fr
